<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title">Ayllu Creation</h4>
  </div>
  <div class="modal-body">
    <div class="row">

        <form class="col-md-12" name="vm.ayllusForm" novalidate>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group has-feedback"
                            ng-class="{'has-error': vm.ayllusForm.name.$invalid && (vm.ayllusForm.name.$dirty || vm.ayllusForm.$submitted)}">
                        <label>Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Name" ng-model="vm.ayllus.name" required>
                        <span class="help-block error-block basic-block">Required</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error': vm.ayllusForm.email.$invalid && (vm.ayllusForm.email.$dirty || vm.ayllusForm.$submitted)}">
                        <label>Email address</label>
                        <input type="email" class="form-control" name="email" placeholder="Email" ng-model="vm.ayllus.email" required>
                        <span class="help-block error-block basic-block">Proper email required</span>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea placeholder="Description" class="form-control" ng-model="vm.ayllus.description"></textarea>
                    </div>                    
                </div>
            </div>
        </form>

        
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-disabled="vm.ayllusForm.$invalid" ng-click="onBtnCreateAyllusClick()">Save changes</button>
  </div>
</div>